<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>
<body>
    <h1>Edit your post</h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea placeholder="write the post" name="content"><%=post.content%></textarea> <br>
        <button>submit</button>
    </form>
</body>
</html>