<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat post</title>
</head>
<body>
    <h3>For creating post fill it</h3>
    <form method="post" action="/posts">
        <input placeholder="username" name="username"> <br><br>
        <textarea placeholder="write the post" name="content"></textarea> <br>
        <button>submit</button>
    </form>
</body>
</html>