<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post in detail</title>
</head>
<body>
    <h1>Here is your post</h2>
    <p>id name @<%= post.username %></p>
    <p>content: <%= post.content %></p>
</body>
</html>